form h1 {
  text-align: center;
  margin-bottom: 20px;
}

form h1 .title-icon {
  margin-right: 0.5rem;
}

.form-control {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input::placeholder {
  color: #999;
}

.form-control .btn {
  padding: 10px 20px;
  background-color: #b60e6a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-control .btn:hover {
  background-color: #218838;
}
